<% content_for :head do %>
  <script>

    $(document).ready(function(){

       var room = new Chamber.Models.Room(<%= raw @room.to_json %>);

       var view = new Chamber.Views.Rooms.ShowView({
         el:           "#room",
         model:        room
       });

       // Subscribe to messages in this room.
       juggernaut.subscribe("rooms:" + room.id + ":messages", function(data) {
         if(data.action == "create") {
           var message = new Chamber.Models.Message(data.message);
           room.messages.add(message)
         }
       });

       // Subscribe to participants in this room.
       juggernaut.subscribe("rooms:" + room.id + ":participants", function(data) {
         if(data.action == "create") {
           var participant = new Chamber.Models.Participant(data.participant);
           room.participants.add(participant)
         }
       });

    });

  </script>
<% end %>

<div class="row-fluid" id="room">
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list" id="participants">
        <li class="nav-header">Members of chatroom</li>
        <% @room.users.each do |user| %>
        <li><a href="#"><%= user.full_name %></a></li>
        <% end %>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->

  <div class="span9">
    <div>
      <h1><%= @room.name %></h1>

      <div class="wrapper">
        <table class="table table-striped table-bordered" id="messages">
          <tbody>
            <% @room.messages.each do |message| %>
            <%= render message %>
            <% end %>
          </tbody>
        </table>
      </div>

      <section>
        <%= form_tag(messages_path, method: "post", id: "new_message", class: "form-inline") do %>
          <%= text_field_tag(:body, nil, class: 'span11') %>
          <%= hidden_field_tag(:room_id, @room.id) %>
          <%= submit_tag("Send", class: "btn") %>
        <% end %>
      </section>

    </div>
  </div><!--/span-->
</div><!--/row-->
